<h1 id="title">News Scraper</h1>
<p id="blurb">Click an article to reveal the link and show comments.</p>
<nav>
    <h3>Refresh Articles</h3>
    <a href="#" id="refreshScrape"><img src="./assets/img/refresh.svg"></a>
</nav>

<div id="articlesList">
</div>